.newComment{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,103,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 600px;
    border-radius: 5px
}
.newComment label {
    margin-right: 15px;
    font-family:'Courier New', Courier, monospace;
}
.newComment input{
    height: 25px;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(235, 253, 169, 0.459);
    color:rgb(247, 247, 247);
    padding: 4px;
}
.newComment label{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
}

.newComment button{
    width: 400px;
    padding: 5px;
    background-color: rgb(91, 162, 255);
    border: 1px solid rgb(248, 240, 255);
    font-weight: bold;
    cursor: pointer;

}